:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --color-orange: #ff7a00;
    --color-light-blue: #02d8dd;
    --color-light-grey: #CCCCCC;
    --color-dark-grey: #666666;
    --color-white-smoke: #F5F5F5;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  a{
      color: inherit;
      text-decoration: inherit;
      cursor: pointer;
      transition: .3s;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 35px;
  }
  .dot-orange{
    color: var(--color-orange);
 }
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.showm{
  display: none;
}
@media(max-width: 1024px){
  .showd{
    display: none;
  }
  .showm{
    display: block;
  }
}

#check-menu {
  display: none;
}
.burger-line {
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: .5s all;
  margin: 5px 0;
}
#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFF;
  z-index: 1;
}

#check-menu:checked ~ .first {
  display: none;
}

#check-menu:checked ~ .second {
  transform: rotate(45deg);
}

#check-menu:checked ~ .third {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
  display: none;
}
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    max-width: 100%;
    border-bottom: 1px solid var(--color-light-grey);
 }

 header nav a{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
 }
 header nav a:not(:last-child){
  margin-right: 20px;
 }
 header nav a:after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 4px;
    left: 0;
    background: transparent;
    transition: 0.3s;
 }
 header nav a:hover:after{
    background-color: var(--color-orange);
 }
 header a:hover{
    text-decoration-color: var(--color-orange);
    text-decoration: underline;
 }
 @media(max-width: 1024px){
   header{
     padding: inherit;
   }
   .wrapper {
    width: 100%;
    position: relative;
    color: black;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid var(--color-light-grey);
  }
  .main-menu {
    max-height: 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(20%);
    font-size: 0;
    overflow: hidden;
    transition: .5s all
  }
  .wrapper label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
  }
  header nav a{
    margin: 20px;
  }
  .burger{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
 }
 .banner{
    position: relative;

 }
 .banner img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
 }
 .banner h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    color: var(--color-white-smoke);
    text-align: center;
    text-shadow: 1px 1px 1px var(--color-light-grey);
 }
 @media(max-width: 1024px){
  .banner h1{
    font-size: 30px;
    width: 100%;
    padding: 20px;
  }
 }
 .hero-section{
    align-items: center;
    display: flex;
    justify-content: center;
    padding:var(--spacing-l);
    flex-direction: column;
    max-width: var(--width-container);
    margin: 0 auto;
 }
  .hero-section h2{
    align-self: flex-start;
  }
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
    margin-top: 50px;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.5rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
  }
  /* FOOTER */
footer{
    padding: 80px 0;
    background-color: #444;
    text-align: center;
}
footer h1{
    color: #fff;
}
footer p{
    padding-top: 30px;
    font-weight: bold;
    color: #777;
}